@font-face {
  font-family: "OpenSansRegular";
  src: local("OpenSansRegular"),
    url(./assets/fonts/open-sans/OpenSans-Regular.woff) format("woff");
}
@font-face {
  font-family: "RubikRegular";
  src: local("RubikRegular"),
    url(./assets/fonts/rubik/Rubik-Regular.woff) format("woff");
}
@font-face {
  font-family: "RubikBold";
  src: local("RubikBold"),
    url(./assets/fonts/rubik/Rubik-Bold.woff) format("woff");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply font-extrabold text-5xl;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-lg font-normal;
  }
  h5 {
    @apply text-base font-normal;
  }
  h6 {
    @apply text-xs;
  }
}
@layer components {
  .btn {
    @apply w-64 font-RubikRegular text-sm font-medium p-2 text-white border-none rounded-lg;
  }
  .btn-dashbord {
    @apply w-full font-RubikRegular text-sm font-medium p-2 space-x-4 inline-flex items-center focus:text-white border-none rounded-lg;
  }
  .square-dashbord {
    @apply w-2 h-2 border rounded-sm border-transparent opacity-25;
  }
}
